<div class="row fullpage2bg">
  
{# Filters #}
  {# Course Table Modal #}
  <div class="modal fade" id="courseTable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="opacity:.98;">
    <div class="modal-dialog" style="position: absolute; left: 20px;">
      <div class="modal-content" style="">
        <div class="modal-body" style="padding: 0 0 0 0;">
          <div class="row" style="overflow-y:auto;margin-left: 0px;margin-right: 0px;">
            <table class="table table-hover table-condensed" id="listViewData">
              <thead>
                <tr>
                  <td>Section</td>
                  <td>Time</td>
                  <td>Room</td>
                  <td>Instructor</td>
                  <td>Seats</td>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
            <div id="additionalInfo" style='margin: 5px 5px 5px 5px'>
              <button id="selectSection" class="btn btn-primary" style='margin-bottom:5px; width:100%; font-size:16px;'>
                Done
              </button>
              <div class="spinner2" style="display:none">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
              </div>
              <div id="sectionDetails">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# Config Open Modal #}
  <div class="modal fade" id="openModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Open a Schedule</h4>
        </div>
        <div class="modal-body">
          <div style="margin-top:20px; margin-bottom:20px">
            <div id="courseConfigs">

            </div>
            <center>
              <button type="button" data-dismiss="modal" class="btn btn-primary btn-lg" style="padding-right:52px;padding-left:52px">Continue</button>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# Config Save Modal #}
  <div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Save a Schedule</h4>
        </div>
        <div class="modal-body">
          <i>This will save the current schedule to your browser for later access.</i>
          <div class="form-group">
            <label for="courseConfigDescription">Description (optional):</label>
            <input type="text" class="form-control" id="courseConfigDescription" placeholder="">
          </div>
          <b>You are saving:</b><br>
          <div id="configBeingSaved">

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="saveSchedule" class="btn btn-primary">Save</button>
          <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
        </div>
      </div>
    </div>
  </div>

  {# Report Error Modal #}
  <div class="modal fade" id="reportErrorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Report an Error</h4>
        </div>
        <div class="modal-body">
          <div>
            <div class="reportRequired form-group"> {# has-error for errors #}
              <label class="control-label" for="errorDescription">Description of Error (and course number, if applicable)</label>
              <textarea type="text" class="form-control" id="errorDescription"> </textarea>
            </div>
            <div class="reportOptional form-group">
              <label class="control-label" for="reportName">Your Name (optional)</label>
              <input type="text" class="form-control" id="reportName">
            </div>
            <div class="reportOptional form-group"> {# has-error for errors #}
              <label class="control-label" for="reportEmail">Your Email (optional)</label>
              <input type="text" class="form-control" id="reportEmail">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="sendReport" class="btn btn-primary">Send</button>
          <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 page2bg" id="filters">
    <div>
      <br />
      <div class="btn-group btn-group-lg btn-group-justified" style="margin-bottom:20px;" data-toggle="buttons">
        <label class="btn btn-default" id="viewSelectionsButton">
          <input type="radio" name="options" autocomplete="off"> View
        </label>
        <label class="btn btn-default active" id="editButton">
          <input type="radio" name="options" autocomplete="off" checked> Edit
        </label>
      </div>
      <div id="remote" class="editRegion" style="padding-bottom:10px;">
        <input id="typeaheadInput" class="typeahead" type="text" placeholder="Course Number, Department, CCC, or Credits" autofocus="autofocus">
      </div>

      <div id="welcomeWell" class="well editRegion" style="margin-top: 10px; display: block; background: rgb(239, 239, 239);">
        <h3 style="margin-top:0; font-size:22pt"> Welcome to no8am!</h3>
        <span style="font-size:14pt;">
          You can now lookup courses by <a href="javascript:setSearchBox('W1');">CCC Requirement</a>, <a href="javascript:setSearchBox('CSCI');">Department</a>, or <a href="javascript:setSearchBox('Half Credit');">Number of Credits</a>!
        </span>
        <br> <br>
        <a class="openModalButton" href="javascript:" style="font-size:13pt">Open From Browser</a>
      </div>

      <div id="alertRegion">
        <div class="alert alert-warning visible-xs" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <b>Heads up:</b> This interface works best on larger screens. To improve your experience, expand your browser
          window or use another device.
        </div>
        <div class="alert alert-warning" id="hasOverlap" role="alert" style="display:none">

        </div>
      </div>

      <div class="row editRegion" id="courseButtons" style='padding-top:20px'>
        <div class="col-sm-6" id="buttons-1">

        </div>
        <div class="col-sm-6" id="buttons-2">

        </div>
      </div>

      <div class="row viewRegion" id="viewSelections" style='display:none; padding-top:20px'>
        <div class="row" style="margin-right: 0px; margin-left:0px;">
          <div class="panel panel-default" id="crnlist" style="margin-right:15px; margin-left:15px;">
            <div class="panel-body" style="font-size:12pt">

            </div>
          </div>
          <div class="col-md-6">
            <div class="list-group" style="cursor:pointer">
              <a class="list-group-item openModalButton">
                <h4 class="list-group-item-heading">Open from Browser<span class="glyphicon glyphicon-folder-open pull-right"> </span></h4>
              </a>
              <a class="list-group-item" id="openSaveDialog">
                <h4 class="list-group-item-heading">Save to Browser<span class="glyphicon glyphicon-hdd pull-right"> </span></h4>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="list-group">
              <a class="list-group-item" id="openGenerateLinkModal" style="cursor:pointer">
                <h4 class="list-group-item-heading">Generate Link<span class="glyphicon glyphicon-cloud pull-right"> </span></h4>
              </a>
              <a class="list-group-item" id="generatedLink" style="display:none">
                <span id="generatedLinkHolder"></span>
                <span class="glyphicon glyphicon-exclamation-sign pull-right" style="display:none;color:orange;"></span>

              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="under-courses" style="display:none">
        <div>
          {% include "footer.html" %}
        </div>
      </div>
    </div>
  </div>

{# Calendar #}
  <div class="col-sm-6 page2bg" id="calendar-col" style="height:100%">
    <div style="height:10px"></div>
    <div id="calendar" class="list-group calendar">
      <div class="panel-heading calendar-titles">
        <div class="dayweek">Mon<span class="hidden-xs hidden-sm hidden-md">day</span></div>
        <div class="dayweek">Tue<span class="hidden-xs hidden-sm hidden-md">sday</span></div>
        <div class="dayweek">Wed<span class="hidden-xs hidden-sm hidden-md">nesday</span></div>
        <div class="dayweek">Thu<span class="hidden-xs hidden-sm hidden-md">rsday</span></div>
        <div class="dayweek">Fri<span class="hidden-xs hidden-sm hidden-md">day</span></div>
      </div>
      <div id="daysmonth" class="list-group-item course-data">
        <div class="week">
          {% for dayWeek in ['M', 'T', 'W', 'R', 'F'] %}
            <div class="day" id="{{ dayWeek }}">
              <div class="open">
                <ul class="list-unstyled">
                </ul>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
