{# Config Open Modal #}
<div class="modal fade" id="openModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Open a Schedule</h4>
      </div>
      <div class="modal-body">
        <div style="margin-top:20px; margin-bottom:20px">
          <div id="courseConfigs">

          </div>
          <center>
            <button type="button" data-dismiss="modal" class="btn btn-primary btn-lg" style="padding-right:52px;padding-left:52px">Continue</button>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>

{# Config Save Modal #}
<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Save a Schedule</h4>
      </div>
      <div class="modal-body">
        <i>This will save the current schedule to your browser for later access.</i>
        <div class="form-group">
          <label for="courseConfigDescription">Description (optional):</label>
          <input type="text" class="form-control" id="courseConfigDescription" placeholder="">
        </div>
        <b>You are saving:</b><br>
        <div id="configBeingSaved">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="saveSchedule" class="btn btn-primary">Save</button>
        <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
      </div>
    </div>
  </div>
</div>

{# Report Error Modal #}
<div class="modal fade" id="reportErrorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Report an Error</h4>
      </div>
      <div class="modal-body">
        <div>
          <div class="reportRequired form-group"> {# has-error for errors #}
            <label class="control-label" for="errorDescription">Description of Error (and course number, if applicable)</label>
            <textarea type="text" class="form-control" id="errorDescription"> </textarea>
          </div>
          <div class="reportOptional form-group">
            <label class="control-label" for="reportName">Your Name (optional)</label>
            <input type="text" class="form-control" id="reportName">
          </div>
          <div class="reportOptional form-group"> {# has-error for errors #}
            <label class="control-label" for="reportEmail">Your Email (optional)</label>
            <input type="text" class="form-control" id="reportEmail">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="sendReport" class="btn btn-primary">Send</button>
        <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="row fullpage2bg" id="mainReactContainer">
    Loading...
</div>
