<section>
  <div class="row footer">
    <div class="col-md-12">
      <center>
        &copy; 2014-<script>document.write(new Date().getFullYear())</script> no8am &nbsp;&bull;&nbsp;
        <span style="font-size:13pt">Design and Code by Nadeem Nasimi '17</span> &nbsp;&bull;&nbsp;
        <a target="_blank" href="/"> Home</a> &nbsp;&bull;&nbsp;
        <a target="_blank" href="/bucknell/"> Bucknell</a> &nbsp;&bull;&nbsp;
        <a href="https://github.com/nowyasimi/no8am" target="_blank">Github</a>
      </center>
    </div>
  </div>
</section>

<style>
  .footer {
    background-color: #4f4b42;
    font-size:12pt;
    color: #fff;
  }
  .footer a {
    color: #fff;
  }
</style>
