<section>
  <div class="row footer">
    <div class="col-md-12">
      <center>
        <b><span style="font-size:13pt"><span class="courseHours">0</span> class hours</span></b>
        <br>
        &copy; 2014-<script>document.write(new Date().getFullYear())</script> no8am &nbsp;&bull;&nbsp;
        <a href="https://github.com/nowyasimi/no8am" target="_blank">Github</a>  &nbsp;&bull;&nbsp;
        Nadeem Nasimi '17 &nbsp;&bull;&nbsp;
        <span id="openReportDialog" style="cursor:pointer"><i>Found an error?</i></span>
      </center>
    </div>
  </div>
</section>

<style>
  .footer {
    background-color: transparent;
    font-size:12pt;
    color: #fff;
  }
  .footer a {
    color: #fff;
  }
</style>
