{% extends "layout.html" %}
{% block title %}no8am{% endblock %}
{% block head %}
  <link href='https://fonts.googleapis.com/css?family=Ubuntu|Oswald' rel='stylesheet' type='text/css'>
  {{ super() }}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% assets "home-css" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}" />
  {% endassets %}

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://no8.am",
      "founder": "Nadeem Nasimi",
      "name": "no8am",
      "description": "A dynamic scheduling platform that will have you ready for next semester in minutes."
    }
  </script>

{% endblock %}
{% block content %}
  <div>
		<a href="https://github.com/nowyasimi/no8am"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
	</div>
  <section class="page0" id="start" >
    <div class="overlay"></div>
    <div class="row" id="mainPage">
      <div class="row landingRow hidden-xs" style='height: 10%'>
        <div class="col-md-10 col-md-offset-1">
          {# logo goes here #}
        </div>
      </div>
      <div class="row landingRow" style='height: 80%;'>
        <div class="col-md-6 col-md-offset-3">
            <div id="mainTitle">
              <h1>
                Simple Course Scheduling
              </h1>
              <h2>
                no8am is a dynamic scheduling platform that will have you ready for next semester in minutes.
              </h2>
              <!-- Single button -->
              <a type="button" href="{{ APP_ROOT }}/bucknell/" class="btn btn-lg btn-default" id="getStarted">
                Get Started
              </a>
            </div>
        </div>
      </div>
    </div>
  </section>

  {% include "footerHome.html" %}

{% endblock %}
