{% extends "layout.html" %}
{% block title %}no8am{% endblock %}
{% block head %}
  <link href='https://fonts.googleapis.com/css?family=Ubuntu|Oswald' rel='stylesheet' type='text/css'>
  {{ super() }}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if STATIC_LOCATION == "local" %}
  <link rel="stylesheet" href="{{ APP_ROOT }}{{ url_for('static', filename='css/home.css') }}">
  {% else %}
  <link rel="stylesheet" href="{{ STATIC_LOCATION }}/css/home.css">
  {% endif %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://no8.am",
      "founder": "Nadeem Nasimi",
      "name": "no8am",
      "description": "A dynamic scheduling platform that will have you ready for next semester in minutes."
    }
  </script>

{% endblock %}
{% block content %}
  <section class="page0" id="start" >
    <div class="overlay"></div>
    <div class="row" id="mainPage" style='padding-bottom:0'>
      <div class="row landingRow hidden-xs" style='height: 10%'>
        <div class="col-md-10 col-md-offset-1">
          {# logo goes here #}
        </div>
      </div>
      <div class="row landingRow" style='height: 80%;'>
        <div class="col-md-6 col-md-offset-3">
            <div id="mainTitle">
              <h1>
                Simple Course Scheduling
              </h1>
              <h2>
                no8am is a dynamic scheduling platform that will have you ready for next semester in minutes.
              </h2>
              <!-- Single button -->
              <a type="button" href="{{ APP_ROOT }}/bucknell" class="btn btn-lg btn-default" id="getStarted">
                Get Started
              </a>
            </div>
        </div>
      </div>
      <div class="row landingRow" style='height: 10%;'>
        <div class="col-md-6 col-md-offset-3" id="learnMoreContainer">
            <a id="learnMore" href="#featureContainer" class="hidden-xs">learn more <span class="caret"></span></a>
        </div>
      </div>

    </div>
  </section>

  <div class="row" id="features" style="height: auto; padding-top:10px; padding-bottom:0px;">
    <center>
      <p class="featureTitle" id="featureHeader">FEATURES</p>
    </center>
  </div>

  <section class="page0">
    <div class="row" id="featureContainer">
      <div class="text-center" style="height:10%">
        <a type="button" id="btnsearch" class="btn btn-default btn-lg featureButton featureSelected">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span><span class="hidden-xs"> Search </span>
        </a>
        <a type="button" id="btnplan" class="btn btn-default btn-lg featureButton">
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span><span class="hidden-xs"> Plan </span>
        </a>
        <a type="button" id="btnsave" class="btn btn-default btn-lg featureButton">
          <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span><span class="hidden-xs"> Save </span>
        </a>
        <a type="button" id="btndiscover" class="btn btn-default btn-lg featureButton">
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span><span class="hidden-xs"> Discover </span>
        </a>
      </div>

      <div id="search">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-9 col-sm-offset-3">
              <p class="featureTitle">
                SEARCH
              </p>
              <p class="featureDescription">
                Quickly and easily find the courses you are interested in
                taking using an autocomplete search box that contains all
                available courses for the next term.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 hidden-xs">
          <div class="row">
            <div class="col-sm-9 col-sm-offset-1">
              <div id="remote">
                <input class="typeahead" type="text" placeholder="Type a Course Number">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="plan" style="display: none">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-9 col-sm-offset-3">
              <p class="featureTitle">
                PLAN
              </p>
              <p class="featureDescription">
                Narrow down the sections of each course using an interactive
                calendar and dynamically preview different sections to find
                what fits best.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 hidden-xs" style="height: 65%">
          <div class="row" style="height:100%">
            <div class="col-sm-9 col-sm-offset-1" style="height:100%">
              <div id="calendar" class="list-group calendar">
                <div class="panel-heading calendar-titles"><b>
                  <div class="dayweek"><p>M</p></div>
                  <div class="dayweek"><p>T</p></div>
                  <div class="dayweek"><p>W</p></div>
                  <div class="dayweek"><p>R</p></div>
                  <div class="dayweek"><p>F</p></div></b>
                </div>
                <div id="daysmonth" class="list-group-item course-data">
                  <div class="week">
                    <div class="day" id="M">
                      <div class="open1">
                        <ul class="list-unstyled">
                          <li style="height: 12%; margin-top: 7%" id="section1" class="course5 section1 purple"><p class="courseNum" style="display: block;">CSCI 205</p><p style="display: none;" class="timesMet">9AM</p></li>
                          <li style="height: 12%; margin-top: 17%" id="section1" class="course1 section1 blue"><p class="courseNum" style="display: block;">ECON 103</p><p style="display: none;" class="timesMet">10AM</p></li>
                        </ul>
                      </div>
                    </div>
                    <div class="day" id="T">
                      <div class="open1">
                        <ul class="list-unstyled">
                          <li style="height: 12%; margin-top: 18%" id="section2" class="course3 section4 green"><p class="courseNum" style="display: block;">POLS 170</p><p style="display: none;" class="timesMet">10AM</p></li>
                          <li style="height: 12%; margin-top: 28%" id="section2" class="course2 section4 red"><p class="courseNum" style="display: block;">ENGL 101</p><p style="display: none;" class="timesMet">11AM</p></li>
                        </ul>
                      </div>
                    </div>
                    <div class="day" id="W">
                      <div class="open1">
                        <ul class="list-unstyled">
                          <li style="height: 12%; margin-top: 7%" id="section1" class="course5 section1 purple"><p class="courseNum" style="display: block;">CSCI 206</p><p style="display: none;" class="timesMet">9AM</p></li>
                          <li style="height: 12%; margin-top: 17%" id="section1" class="course1 section1 blue"><p class="courseNum" style="display: block;">ECON 103</p><p style="display: none;" class="timesMet">10AM</p></li>
                        </ul>
                      </div>
                    </div>
                    <div class="day" id="R">
                      <div class="open1">
                        <ul class="list-unstyled">
                          <li style="height: 12%; margin-top: 18%" id="section2" class="course3 section4 green"><p class="courseNum" style="display: block;">POLS 170</p><p style="display: none;" class="timesMet">10AM</p></li>
                          <li style="height: 12%; margin-top: 28%" id="section2" class="course2 section4 red"><p class="courseNum" style="display: block;">ENGL 101</p><p style="display: none;" class="timesMet">11AM</p></li>
                        </ul>
                      </div>
                    </div>
                    <div class="day" id="F">
                      <div class="open1">
                        <ul class="list-unstyled">
                          <li style="height: 12%; margin-top: 7%" id="section1" class="course5 section1 purple"><p class="courseNum" style="display: block;">CSCI 206</p><p style="display: none;" class="timesMet">9AM</p></li>
                          <li style="height: 12%; margin-top: 17%" id="section1" class="course1 section1 blue"><p class="courseNum" style="display: block;">ECON 103</p><p style="display: none;" class="timesMet">10AM</p></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="save" style="display: none">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-9 col-sm-offset-3">
              <p class="featureTitle">
                SAVE
              </p>
              <p class="featureDescription">
                Generate a unique link or save your schedule to your browser so
                you can effortlessly retrieve your selections later.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 hidden-xs">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-1">
              <div class="list-group">
                <a class="list-group-item" id="generateLink" style="cursor:pointer">
                  <h4 class="list-group-item-heading" style="font-size:16pt">Generate Link<span class="glyphicon glyphicon-cloud pull-right"> </span></h4>
                </a>
                <a class="list-group-item" id="generatedLink" style="display:none">

                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="discover" style="display: none">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-9 col-sm-offset-3">
              <p class="featureTitle">
                DISCOVER
              </p>
              <p class="featureDescription">
                Get the course registration numbers along with required course
                materials from Amazon and your university bookstore.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 hidden-xs">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-1">
              <div class="list-group">
                <p class="list-group-item" style="padding-top:30px;padding-bottom:30px">
                  <b><span style="font-size:14pt;">CRN: 50094 - MATH 201 01 - Calculus I</span></b><br><br><a target="_blank" href="https://amazon.com/dp/1429208384/?tag=no8am00-20"><img src="https://images-na.ssl-images-amazon.com/images/I/51XBRiTtyiL._SL75_.jpg"></a> &nbsp;<a target="_blank" href="https://amazon.com/dp/1429208384/?tag=no8am00-20" style="font-size:12pt">Calculus: Early Transcendentals</a><br>
                </p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>

  {% include "footerHome.html" %}

  {% if STATIC_LOCATION == "local" %}
  <script type="text/javascript" src="{{ APP_ROOT }}/gen?file={{ ASSET_URL }}"></script>
  {% else %}
  <script rel="text/javascript" src="{{ STATIC_LOCATION }}/{{ ASSET_URL }}"></script>
  {% endif %}

  <script>
    $('a[href*=#]:not([href=#])').click(function() {
       if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
           || location.hostname == this.hostname) {

           var target = $(this.hash);
           target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
              if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top
               }, 1000);
               return false;
           }
       }
   });
  $(function() {
    var scrolled = false;
    $( window ).scroll(function() {
      if (!scrolled) {
        scrolled = true;
        {% if STATIC_LOCATION == "local" %}
        $.getScript("{{ APP_ROOT }}/gen?file={{ ASSET2_URL }}", function() {
        {% else %}
        $.getScript("{{ STATIC_LOCATION }}/{{ ASSET2_URL }}", function() {
        {% endif %}

          var coursesHound = new Bloodhound({
            limit: 999,
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('courseNum'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            local: courseDescriptions
          });

          coursesHound.initialize();

          $('#remote .typeahead').typeahead(null, {
            displayKey: 'courseNum',
            source: coursesHound.ttAdapter(),
            templates: {
              suggestion: Handlebars.compile("<p><strong>\{\{courseNum\}\}</strong> - \{\{courseName\}\}</p><p class='courseDescription'>\{\{info\}\}</p>")
            }
          });
        });

      }
    });



    $(document).on("click", "#generateLink", function() {
      if ($(this).hasClass("disabled")){
        return;
      }
      $("#generateLink").addClass("disabled");
      $("#generateLink span").removeClass("glyphicon-cloud").removeClass("glyphicon-ok").addClass("glyphicon-cloud-upload");
      setTimeout(function(){
        $("#generateLink span").removeClass("glyphicon-cloud-upload").addClass("glyphicon-ok");
        $("#generatedLink").html("<a href='https://no8.am/bucknell/VfYm' target='_blank'>no8.am/bucknell/VfYm</a>");
        $("#generatedLink").slideDown();
        $("#generateLink").removeClass("disabled");
      }, 500);
    });

    $(document).on("mouseenter mouseleave", "li", function(){
      var stuff = $(this).attr("class").split(" ");
      $('.' + stuff[0] + '.'+ stuff[1]).toggleClass('hover');
      $('.' + stuff[0] + '.'+ stuff[1] + " .timesMet").toggle();
      $('.' + stuff[0] + '.'+ stuff[1] + " .courseNum").toggle();
    });

    $(window).scroll(function() {
      $('h1').css({'opacity':( 100-$(window).scrollTop() )/40});
      $('h2').css({'opacity':( 100-$(window).scrollTop() )/50});
      $('#learnMore').css({'opacity':( 100-$(window).scrollTop() )/70});
    });

    $(document).on('click', '.featureButton', function() {
      $(".featureButton").removeClass('featureSelected');
      $(this).addClass('featureSelected');
      var id = $(this).attr("id").substring(3);
      $("#search").hide();
      $("#plan").hide();
      $("#save").hide();
      $("#discover").hide();
      $("#" + id).show();
    });

  });

  </script>

{% endblock %}
