{% extends "layout.html" %}
{% block title %}no8am{% endblock %}
{% block head %}
  <link href='https://fonts.googleapis.com/css?family=Ubuntu|Oswald' rel='stylesheet' type='text/css'>
  {{ super() }}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% assets "home-css" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}" />
  {% endassets %}

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://no8.am",
      "founder": "Nadeem Nasimi",
      "name": "no8am",
      "description": "A dynamic scheduling platform that will have you ready for next semester in minutes."
    }
  </script>

{% endblock %}
{% block content %}
  <section class="page0" id="start" >
    <div class="overlay"></div>
    <div class="row" id="mainPage">
      <div class="row landingRow hidden-xs" style='height: 10%'>
        <div class="col-md-10 col-md-offset-1">
          {# logo goes here #}
        </div>
      </div>
      <div class="row landingRow" style='height: 80%;'>
        <div class="col-md-6 col-md-offset-3">
            <div id="mainTitle">
              <h1>
                Simple Course Scheduling
              </h1>
              <h2>
                no8am is a dynamic scheduling platform that will have you ready for next semester in minutes.
              </h2>
              <!-- Single button -->
              <a type="button" href="{{ APP_ROOT }}/bucknell/" class="btn btn-lg btn-default" id="getStarted">
                Get Started
              </a>
            </div>
        </div>
      </div>
    </div>
  </section>

  {% include "footerHome.html" %}

{% endblock %}
