<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link href="https://unpkg.com/normalize.css@^7.0.0" rel="stylesheet" />
    <link href="https://unpkg.com/@blueprintjs/core@^3.5.1/lib/css/blueprint.css" rel="stylesheet" />
    <link href="https://unpkg.com/@blueprintjs/icons@^3.1.0/lib/css/blueprint-icons.css" rel="stylesheet" />
    <link href="https://unpkg.com/@blueprintjs/table@^3.1.1/lib/css/table.css" rel="stylesheet" />

    {% endblock %}
    {% include "analytics.html" %}
  </head>

  <body>
    <div class="container-fluid" style='height:100%'>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
