<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link href="https://unpkg.com/normalize.css@^4.1.1" rel="stylesheet" />
    <link href="https://unpkg.com/@blueprintjs/core@^1.11.0/dist/blueprint.css" rel="stylesheet" />
    <link href="https://unpkg.com/@blueprintjs/table@1.31.2/dist/table.css" rel="stylesheet" />

    {% endblock %}
    {% include "analytics.html" %}
  </head>

  <body>
    <div class="container-fluid" style='height:100%'>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
