{% extends "layout.html" %}
{% block title %}no8am - Bucknell{% endblock %}
{% block head %}

  {{ super() }}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% assets "bucknell-css" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}" />
  {% endassets %}

{% endblock %}
{% block content %}

  <section class="page2">
    {% include "calendar.html" %}
  </section>

  <script type="text/javascript">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>

  <script type="text/javascript">
      function sendSavedSchedule() {
        {% if customData != None %}
            var courseData = {{ customData|tojson }};
            for (var courseNum in courseData) {
              var currentCourse = courseNum.split(" ");
              addNewCourse(currentCourse[0], currentCourse[1], JSON.stringify(courseData[courseNum]));
            }
        {% endif %}
        }
    APP_ROOT = "{{ APP_ROOT }}";
    METADATA_URL = "{{ url_for('static', filename='metadata.json') }}";
  </script>


  {% if not STATIC_LOCATION == "local" %}
  <script type="text/javascript" src="https://static.no8.am/static/app.js"></script>
  {% else %}
  {% assets "app-js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  {% endif %}


  <script type="text/javascript">
    {% if customData != None %}
      $("#welcomeWell").slideUp();
    {% endif %}
  </script>

  {% include "handlebarTemplates.html" %}


{% endblock %}
