/**************************** General ***************************/
body,html{height: 100%;}
.page2{height:100%;width:100%;}
.container-fluid{
		margin: 0 auto;
		height: 100%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
}
.row {height:100%;}

/**************************** Page 1 ****************************/
#mainReactContainer > div {
	height: 100%;
}

.searchContainer > .pt-popover-wrapper {
	padding: 10px;
	width: 100%;
}

.viewToggleButtonContainer {
	margin-bottom:20px;
}

#remote {
	padding-bottom:10px;
}

#welcomeWell {
	margin-top: 10px; display: block; background: rgb(239, 239, 239);
}

#welcomeWell h3 {
	margin-top:0; font-size:22pt
}

#welcomeWell span {
	font-size:14pt;
}

.openModalButton {
	font-size:13pt;
}

#hasOverlap {
	display:none;
}

#courseButtons {
	padding-top:20px
}

#viewSelections {
	display:none; padding-top:20px;
}

#viewSelections > .row {
	margin-right: 0px; margin-left:0px;
}

#crnlist {
	margin-right:15px; margin-left:15px;font-size:12pt;
}

#openSaveButtons {
	cursor:pointer;
}

#openGenerateLinkModal {
	cursor:pointer;
}

#generatedLink {
	display: none;
}

#generatedLink > .glyphicon {
	display:none;color:orange;
}

.under-courses {
	display:none;
}


#courseSubmit{
	font-size:24px;
	padding:14px 24px;
	bottom:95px;
	/* margin-top: 60% */
}

#addedCourses {
  height: 30px;
}

#sectionDetails div {
	margin-bottom: 5px;
}

.nonIdealState {
    padding-top: 20px;
    height: auto;
}

.nonIdealState .pt-non-ideal-state-title {
    font-size: 26px;
}

.nonIdealState .pt-non-ideal-state-description {
    font-size: 16px;
}

.filters {
	margin-bottom: 20px;
}

.filterTimeButton {
    min-width: 160px;
}

.rangeSliderContainer {
    min-width: 200px;
    margin-right: 10px;
    margin-left: 10px;
}

.sectionList {
    padding: 3px;
}

.sectionListCardTooltip {
    width: 100%;
}

.sectionCard {
    padding: 0;
}

.sectionCardItemContainer {
    padding: 20px 5px;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.sectionCardItem {
    width: 20%;
    text-align: center;
}

.unavailableSection {
    background-color: lightgrey;
    opacity: 0.75;
}

.selectedSection {
    background-color: lawngreen;
}

.managedSection {
    background-color: darkgrey;
}

.violationSection {
    background-color: indianred;
    opacity: 1;
}

.askShowSingleCourse {
    margin-bottom: 20px;
    display: block;
}

.searchPopoverPortal .pt-overlay-content {
    z-index: 21;
    width: 49%;
}

.searchPopover {
    width: 100%;
}

.searchItem .pt-menu-item-label {
    width: calc(100% - 200px);
}

.searchPopover .pt-menu {
    max-height: 90vh;
    overflow-y: auto;
}

.searchItem.pt-menu-item.pt-disabled div {
    font-weight: 500;
    font-size: 15pt;
    color: #403b3b!important;
}

.searchOmniboxKeyCombo {
    padding-left: 10px;
}

.OmniboxTitle {
    margin-left: -5px;
}

.OmniboxTitle h6 {
    font-size: 20px;
}

.courseDescription {
  font-size: 14px;
  line-height: 14px;
}
.addedCourse {
  margin-right: 10px;
}
.addedCourse span {
  color:#bebebe; margin-left:5px;
}

/**************************** Page 2 ****************************/
#alertRegion div {
	margin-top: 20px;
	margin-bottom: 0;
}
.course-button{
	cursor: pointer;
	border: 0;
}
.course-button.disabled {
	cursor: default;
}

.course-revert {
	opacity: 0.5;
	font-size: 13px;
	padding-top: 3px;
	padding-right: 5px;
	font-size:17px;
	float:right;
}
.course-revert:hover {
	cursor:pointer;
	opacity: 0.8;
}
.course-overlap {
	background: #EED202;
	border: 1px solid #EED202;
}
.course-overlap:hover {
	background: #f0c000!important;
	border: 1px solid #f0c000!important;
}

.list-group {
  -webkit-box-shadow: 1px 5px 24px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 5px 24px -5px rgba(0,0,0,0.75);
  box-shadow: 1px 5px 24px -5px rgba(0,0,0,0.75);
}
#doneEditing {
	cursor: pointer;
}

#listViewData tbody tr {
	cursor: pointer;
}

.btn-group-vertical button {
	font-size:14pt;
}

.toggle {
	border-left-width: 10px; padding-left: 5px; border-left-style: solid;
}

.toggle:hover .cache-age {
	display: inline;
}

.courseButtonSelectedCheck {
	font-size:15px;padding-left:5px
}

.removeCourse {
	color:red
}

.cache-age {
	font-size: 12px; margin-top: 4px; display: none;
}
/**************************** Calendar ****************************/
#calendar-titles {
	height: 45px;
	background-color: #f5f5f5;
	padding: 0 0 0 0;
}

#calendar-titles:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.dayweek{
	margin-top: 1.5%;
	width:20%;
	float:left;
	display:block;
	text-align:center;
	font-size:18px;
	line-height:31px;
	text-shadow:0 1px 0 #ffffff;
	font-weight: bold;
}

.day {
	width:20%;
	float:left;
    height:1px;
    padding-top: 5px;
}

#course-data{
	padding: 0 0 0 0;
    height: calc(100% - 45px);
}

/**************************** Course table modal ****************************/
.sectionListModal {
    height:500px;
    position: absolute;
    left: 10px;
    text-align: left;
    opacity:.98;
		margin-top: 0;
}
/*#courseTable {*/
    /*opacity:.98;*/
    /*text-align: left;*/
/*}*/

/*.courseTable.modal-dialog {*/
    /*width: 100%;*/
/*}*/

/*#courseTable .modal-dialog {*/
    /*position: absolute;*/
    /*left: 10px;*/
    /*margin-top: 10px;*/
/*}*/

/*#courseTable .modal-body {*/
    /*padding: 0 0 0 0;*/
    /*overflow-y: auto;*/
    /*margin-left: 0px;*/
    /*margin-right: 0px*/
/*}*/

/*.courseTable {*/
    /*height: 100%;*/
/*}*/

.modal-container {
    position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}

#selectSection {
    margin-bottom: 5px;
    width: 100%;
    font-size: 16px;
}

/**************************** Section details spinner ****************************/

.spinner {
  margin: 20px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  margin-right: 2px;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/**************************** Event Columns and Bubbles ****************************/
.day ul{height:100%;clear:both; padding: 0 0 0 0;}
.day li{-webkit-border-radius:10px;border-radius:10px;width:18.5%;position:absolute;}
.day li:hover{cursor:pointer;}
.day li p{margin-top:5px;margin-left:10px;margin-right:10px;line-height:12px;font-size:11pt;color:#ffffff;overflow:hidden;font-family:Trebuchet MS}

.blue{background:#5496dd;} /* selected */
.blue.hover{background:#5c9ef9;} /* selected + hover */
.Nblue{background:#A5CAFD;} /* unselected */
.red{background:#ff454b;}
.red.hover{background:#ff6164;}
.Nred{background:#FFA9AB;}
.yellow{background:#ffac4d;}
.yellow.hover{background:#ffbd6a;}
.Nyellow{background:#FFD6A3;}
.green{background:#94e354;}
.green.hover{background:#98e857;}
.Ngreen{background:#C4E7A7;}
.purple{background:#a97be6;}
.purple.hover{background:#bc9de6;}
.Npurple{background:#c69fe5;}
.orange{background:#e99b34;}
.orange.hover{background:#e6a153;}
.Norange{background:#f2a98d;}
.pink{background:#f35ee1;}
.pink.hover{background:#f18bea;}
.Npink{background:#f09eee;}
.teal{background:#3faabb;}
.teal.hover{background:#338794;}
.Nteal{background:#88ced9;}
.cyan{background:#2d8284;}
.cyan.hover{background:#205c5d;}
.Ncyan{background:#205c5d;}
.lightgreen{background:#66cb65;}
.lightgreen.hover{background:#43bb41;}
.Nlightgreen{background:#b1e6b0;}
